<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8CA1A5"/>
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="/icons/restoicon-192x192.png">
    <link rel="icon" href="restoicon.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <title>RestoHunter</title>
</head>
<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header class="header">       
        <app-bar></app-bar>
    </header>
    
    <hero-content></hero-content>

    <main tabindex="0" id="maincontent">       
     
    </main>
    <footer>
        <p>Copyright &#169; 2021 &#45; RestoHunter</p>
    </footer>
</body>
</html>
